@{
    ViewBag.Title = "Login";
}

<div id="login">
    <div class="container">
        <div class="col-md-5 panel panel-default center-block">
            <div class="panel-body">
                <div class="login-title">
                    <h1>Đăng Nhập</h1>
                </div>
                <div>
                    @using (Html.BeginForm("Login", "Login", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "LoginForm", @name = "LoginForm", role = "form" }))
                    {
                        <!--Username-->
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control input-lg" placeholder="Tài khoản hoặc email"
                                   name="UserName"
                                   ng-trim="true"
                                   required
                                   ng-model="User.UserName">
                            <span class="glyphicon glyphicon-ok form-control-feedback text-success" aria-hidden="true" 
                                  ng-show="LoginForm.UserName.$dirty && LoginForm.UserName.$valid"></span>
                            <div ng-show="LoginForm.UserName.$dirty && LoginForm.UserName.$invalid" class="text-danger">
                                <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                                <span ng-show="LoginForm.UserName.$error.required">Bạn chưa nhập tài khoản hoặc email</span>
                            </div>
                        </div>
                        <!--Password-->
                        <div class="form-group has-feedback">
                            <input type="password" id="tbPassword" class="form-control input-lg" placeholder="Mật khẩu"
                                   name="Password"
                                   required
                                   ng-model="User.Password">
                            <span class="glyphicon glyphicon-ok form-control-feedback text-success" aria-hidden="true"
                                  ng-show="LoginForm.Password.$dirty && LoginForm.Password.$valid"></span>
                            <div ng-show="LoginForm.Password.$dirty && LoginForm.Password.$invalid" class="text-danger">
                                <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                                <span ng-show="LoginForm.Password.$error.required">Bạn chưa nhập mật khẩu</span>
                            </div>
                        </div>
                        <!--ErrorSummary-->
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <!--Remember-->
                        <div class="checkbox pull-left">
                            <label>
                                <input type="checkbox" value="true" name="RememberMe"> Lưu đăng nhập
                            </label>
                        </div>
                        <div class="pull-right" style="margin: 10px 0">
                            <a href="#">Quên mật khẩu?</a>
                        </div>
                        <!--Login button-->
                        <button type="submit" class="btn btn-success btn-lg clearfix"
                                ng-disabled="!LoginForm.$dirty || (LoginForm.$dirty && LoginForm.$invalid)">
                            <i class="fa fa-sign-in"></i>
                            Đăng nhập!
                        </button>
                    }
                </div>
                <div class="boderbottom">
                </div>
                <div id="login-facebook">
                    <a href="@Url.Content("~/Login/AuthenFacebook/")" class="btn btn-primary btn-lg">
                        <i class="fa fa-facebook-official"></i>
                        <span>Đăng nhập với Facebook</span>
                    </a>
                    <p class="text-center tip-info" style="">
                        Chúng tôi sẽ không đăng bất cứ gì lên Facebook mà không được sự cho phép của bạn.
                    </p>
                </div>
            </div>
            <div class="panel-footer text-center">
                <p>
                    Tài khoản mới? <a href="@Url.Content("/#/register/")">Đăng ký</a>
                </p>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/md5")
    <script>
        $("#LoginForm").submit(function (event) {
            var password = $('#tbPassword').val();
            var md5 = $.md5(password);
            $('#tbPassword').val(md5);
            return true;
        });

        angular.module("ClientApp",[]);
    </script>
}

