<!DOCTYPE html>

<html ng-app="AdminApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title ng-bind="Page.title"></title>

    <!-- Load css -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    @RenderSection("stylesheets", required: false)
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }

        .col-number, .col-datetime {
            text-align: right;
        }

        .col-text {
            text-align: left;
        }

        /*Fix css for datatables*/
        .table-responsive {
            /*overflow: inherit;*/
            border: none;
        }

            .table-responsive th {
                text-align: center;
                vertical-align: top !important;
            }

            .table-responsive td {
                word-break: break-all;
            }

        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:after {
            top: 8px;
        }


        /*Fix css for text-angular*/
        .ta-toolbar .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

            .ta-toolbar .btn.active {
                -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            }

            .ta-toolbar .btn.disabled, .ta-toolbar .btn[disabled], .ta-toolbar fieldset[disabled] .btn {
                cursor: not-allowed;
                pointer-events: none;
                opacity: .65;
                box-shadow: none;
                -webkit-box-shadow: none;
            }

        .ta-toolbar .btn-default.disabled,
        .ta-toolbar .btn-default[disabled],
        .ta-toolbar fieldset[disabled] .btn-default,
        .ta-toolbar .btn-default.disabled:hover,
        .ta-toolbar .btn-default[disabled]:hover,
        .ta-toolbar fieldset[disabled] .btn-default:hover,
        .ta-toolbar .btn-default.disabled.hover,
        .ta-toolbar .btn-default[disabled].hover,
        .ta-toolbar fieldset[disabled] .btn-default.hover,
        .ta-toolbar .btn-default.disabled:focus,
        .ta-toolbar .btn-default[disabled]:focus,
        .ta-toolbar fieldset[disabled] .btn-default:focus,
        .ta-toolbar .btn-default.disabled:active,
        .ta-toolbar .btn-default[disabled]:active,
        .ta-toolbar fieldset[disabled] .btn-default:active,
        .ta-toolbar .btn-default.disabled.active,
        .ta-toolbar .btn-default[disabled].active,
        .ta-toolbar fieldset[disabled] .btn-default.active {
            background-color: #fff;
            border-color: #ccc;
        }

        .ta-toolbar .btn-toolbar .btn.active,
        .ta-toolbar .btn-default:hover, .ta-toolbar .btn-default.hover,
        .ta-toolbar .btn-default:focus, .ta-toolbar .btn-default:active,
        .ta-toolbar .btn-default.active, .ta-toolbar .open > .dropdown-toggle.btn-default {
            color: #333;
            background-color: #ebebeb;
            border-color: #adadad;
        }

        .ta-toolbar .btn-default {
            background-color: #fff;
            border-color: #ccc;
            color: #333;
        }

        .ta-toolbar .btn-group {
            margin-bottom: 5px;
        }

            .ta-toolbar .btn-group > .btn + .btn {
                margin-left: -1px;
            }

        .div-textarea {
            word-break: break-word;
            white-space: pre-wrap;
        }

        #admin-campaign img {
            display: block;
            width: 100%;
            height: auto;
        }

        .badge-info {
            background-color: #3498db;
        }

        .fa {
            position: relative;
        }

        .badge-inside {
            font-size: .25em;
            display: block;
            position: absolute;
            top: -.75em;
            right: -.75em;
            width: 2em;
            height: 2em;
            line-height: 2em;
            border-radius: 50%;
            text-align: center;
            color: #fff;
            /*background: rgba(0,0,0,0.5);*/
        }
    </style>
</head>

<body>
    <input type="hidden" value="@ViewBag.BaseUrl" id="BaseUrl" />
    <div id="wrapper" style="min-width: 1024px">
        <!-- begin TOP NAVIGATION -->
        <nav class="navbar-top" role="navigation" style="min-width: 1024px">

            <!-- begin BRAND HEADING -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".sidebar-collapse">
                    <i class="fa fa-bars"></i> Menu
                </button>
                <div class="navbar-brand">
                    <a href="/admin/#/dashboard">
                        @*<img src="img/flex-admin-logo.png" class="img-responsive" alt="">*@
                        Dandelion
                    </a>
                </div>
            </div>
            <!-- end BRAND HEADING -->

            <div class="nav-top">

                <!-- begin LEFT SIDE WIDGETS -->
                <ul class="nav navbar-left">
                    <li class="tooltip-sidebar-toggle">
                        <a href="" id="sidebar-toggle" data-toggle="tooltip" data-placement="right" title="Sidebar Toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <!-- You may add more widgets here using <li> -->
                </ul>
                <!-- end LEFT SIDE WIDGETS -->
                <!-- begin MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->
                <ul class="nav navbar-right">

                    <!-- begin USER ACTIONS DROPDOWN -->
                    <li class="dropdown">
                        <a href="#" onclick="return false" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>&nbsp;<span ng-show="NumberNewMessage.Total > 0" class="badge badge-info mb3 ng-cloak">{{NumberNewMessage.Total}}</span><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            @*<li>
                                    <a href="userprofile.html">
                                        <i class="fa fa-user"></i> Thông tin cá nhân
                                    </a>
                                </li>
                                <li>
                                    <a href="message.html">
                                        <i class="fa fa-envelope"></i> Tin nhắn
                                        <span class="badge green pull-right">4</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-gear"></i> Settings
                                    </a>
                                </li>*@
                            <li>
                                <a class="logout_open" href="@Url.Content("/admin/logout/")">
                                    <i class="fa fa-sign-out"></i> Thoát
                                    <strong>@ViewBag.CurrentUser.FullName</strong>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-menu -->
                    </li>
                    <!-- /.dropdown -->
                    <!-- end USER ACTIONS DROPDOWN -->

                </ul>
                <!-- /.nav -->
                <!-- end MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->

            </div>
            <!-- /.nav-top -->
        </nav>
        <!-- /.navbar-top -->
        <!-- end TOP NAVIGATION -->
        <!-- begin SIDE NAVIGATION -->
        <nav class="navbar-side" role="navigation">
            <div class="navbar-collapse sidebar-collapse collapse">
                <ul id="side" class="nav navbar-nav side-nav">
                    <!-- begin SIDE NAV USER PANEL -->
                    <li class="side-user hidden-xs">
                        @if (ViewBag.CurrentUser.ProfileImage.Contains("http"))
                        {
                            <img id="avatar" style="width: 150px; height: 150px" src="@ViewBag.CurrentUser.ProfileImage" alt="" class="img-responsive img-circle center-block">
                        }
                        else
                        {
                            <img id="avatar" style="width: 150px; height: 150px" src="@Url.Content("~/images/avatars/" + @ViewBag.CurrentUser.ProfileImage)" alt="" class="img-responsive img-circle center-block">
                        }
                        <p class="welcome">
                            <i class="fa fa-key"></i> Đăng nhập với
                        </p>
                        <p class="name tooltip-sidebar-logout">
                            @ViewBag.CurrentUser.FullName
                        </p>
                        <div class="clearfix"></div>
                    </li>
                    <!-- end SIDE NAV USER PANEL -->
                    <!-- begin DASHBOARD LINK -->
                    <li>
                        <a href="~/admin/#/dashboard" ng-class="{'active': Page.activeTab == 'dashboard'}">
                            <i class="fa fa-dashboard"></i> Thống kê chung
                        </a>
                    </li>
                    <!-- end DASHBOARD LINK -->
                    <!-- begin USERS DROPDOWN -->
                    <li class="panel">
                        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#users">
                            <i class="fa fa-files-o"></i> Thành viên <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="collapse nav" ng-class="{'in': Page.activeTab == 'userdashboard' || Page.activeTab == 'userdashboard'}" id="users">
                            <li>
                                <a href="~/admin/#/userdashboard/" ng-class="{'active': Page.activeTab == 'userdashboard'}">
                                    <i class="fa fa-angle-double-right"></i> Thông tin chung
                                </a>
                            </li>
                            <li>
                                <a href="~/admin/#/userlist/" ng-class="{'active': Page.activeTab == 'userlist'}">
                                    <i class="fa fa-angle-double-right"></i> Danh sách thành viên
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end USERS DROPDOWN -->
                    <!-- begin PROJECTS DROPDOWN -->
                    <li class="panel">
                        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#projects">
                            <i class="fa fa-bar-chart-o"></i> Dự án
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="collapse nav" ng-class="{'in': Page.activeTab == 'projectdashboard' || Page.activeTab == 'projectList'}" id="projects">
                            <li>
                                <a href="~/admin/#/project/" ng-class="{'active': Page.activeTab == 'dashboard'}">
                                    <i class="fa fa-angle-double-right"></i> Thông tin chung
                                </a>
                            </li>
                            <li>
                                <a href="~/admin/#/project/all/" ng-class="{'active': Page.activeTab == 'projectList'}">
                                    <i class="fa fa-angle-double-right"></i> Danh sách dự án
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end PROJECTS DROPDOWN -->
                    <!-- begin BACKINGS DROPDOWN -->
                    <li class="panel">
                        <a href="~/admin/#/backinglist" ng-class="{'active': Page.activeTab == 'backinglist'}">
                            <i class="fa fa-bar-chart-o"></i> Ủng hộ
                            <!-- <i class="fa fa-caret-down"></i> -->
                        </a>
                    </li>
                    <!-- end BACKINGS DROPDOWN -->
                    <!-- begin CATEGORIES DROPDOWN -->
                    <li class="panel">
                        <a href="~/admin/#/category/" ng-class="{'active': Page.activeTab == 'category'}">
                            <i class="fa fa-bar-chart-o"></i> Danh mục
                            <!-- <i class="fa fa-caret-down"></i> -->
                        </a>
                    </li>
                    <!-- end CATEGORIES DROPDOWN -->
                    <!-- begin SLIDERS DROPDOWN -->
                    <li class="panel">
                        <a href="~/admin/#/slide/" ng-class="{'active': Page.activeTab == 'slide'}">
                            <i class="fa fa-bar-chart-o"></i> Slide
                            <!-- <i class="fa fa-caret-down"></i> -->
                        </a>
                    </li>
                    <!-- end SLIDERS DROPDOWN -->
                    <!-- begin MESSAGES DROPDOWN -->
                    <li class="panel">
                        <a href="~/admin/#/message/" ng-class="{'active': Page.activeTab == 'message'}">
                            <i class="fa fa-bar-chart-o"></i> Tin nhắn&nbsp;<span ng-show="NumberNewMessage.Total > 0" class="badge badge-info mb3 ng-cloak">{{NumberNewMessage.Total}}</span>
                            <!-- <i class="fa fa-caret-down"></i> -->
                        </a>
                    </li>
                    <!-- end MESSAGES DROPDOWN -->
                    <!-- begin REPORT -->
                    <li class="panel">
                        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#reports">
                            <i class="fa fa-files-o"></i> Báo cáo <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="collapse nav" ng-class="{'in': Page.activeTab == 'reportuser' || Page.activeTab == 'reportproject'}" id="reports">
                            <li>
                                <a href="/admin/#/reportuser" ng-class="{'active': Page.activeTab == 'reportuser'}">
                                    <i class="fa fa-angle-double-right"></i> Người dùng
                                </a>
                            </li>
                            <li>
                                <a href="/admin/#/reportproject" ng-class="{'active': Page.activeTab == 'reportproject'}">
                                    <i class=" fa fa-angle-double-right">
                                    </i> Dự án
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end REPORT -->
                </ul>
                <!-- /.side-nav -->
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <!-- /.navbar-side -->
        <!-- end SIDE NAVIGATION -->
        <!--begin MAIN PAGE CONTENT-->
        <div id="page-wrapper">
            <!-- begin PAGE TITLE ROW -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <h1 ng-bind="Page.title"></h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>&nbsp;<span ng-bind="Page.breadcrumb[0]"></span>
                            </li>
                            <li class="active" ng-bind="Page.breadcrumb[1]"></li>
                        </ol>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- end PAGE TITLE ROW -->
            @RenderBody()
            @RenderSection("SPAViews", required: false)
        </div>
        <!-- /#page-wrapper -->
        <!-- end MAIN PAGE CONTENT -->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <script src="http://code.highcharts.com/highcharts.src.js"></script>
</body>
</html>
